.formButton {
  margin: 0;
  min-height: 54px;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}

@media (max-width: 480px) {
  .formButton {
    min-height: 45px;
    font-size: 15px;
    padding: 10px;
    min-width: 110px;
    width: 100%;
  }
}
